*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
/* HEADER SECTION START */
header{
    display: flex;
    justify-content:space-around;
    align-items: center;

    height: 70px;
    background-color:white;
}
header .search-design{
    display:flex;
    width: 40%;
}
header .search-design input{
    border: 2px solid #969696;
    border-right: #448000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: 0;

    width: 80%;
    padding: 1.5rem 2rem;
}
header .search-design .header-btn{
    display: flex;
    align-items:center;
    justify-content: center;
    
    width: 8%;
    background-color: #448000;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
header .buy-btn{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    background-color: #448000;

    color:white;
    font-size: 20px;
    font-family: 'Arial-MT';
    padding: 1rem;
}
header .buy-btn span{
    margin-right: 10px;
}

header .buy-btn:hover, header .search-design:hover{
    cursor: pointer;
}
/* HEADER SECTION END */


/* LANDING SECTION START */
.landing{
    display: flex;
    flex-direction: column;
    justify-content:center;

    background-image:url('https://content.codecademy.com/courses/ui-breadcrumbs/blueberry-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60vh;

    color: white;   
}
.landing .content{
    margin-left: 15rem;
    width: 40%;
}
.landing .content h3{
    font-size: 30px;
}
.landing .content p{
    font-size: 25px;
}
/* LANDING SECTION END */


/* FOOTER SECTION START */
footer{
    display: flex;
    justify-content:space-around;
    font-family: 'Signika Negative';
}
footer .logo{
    margin: auto 0;
}
footer table{
    font-size: 20px;
    text-align: left;
    width: 60%;
}
footer table th{
    padding: 0 0 1rem 0;
}
footer table td{
    padding: 0 0 1rem 0;
    color: #458100;
}
/* FOOTER SECTION END */